.github/instructions/kluster-code-verify.instructions.md
.kluster

# Directorios de Visual Studio y Build
.vs/
[Bb]in/
[Oo]bj/

# Archivos de carga de la web (uploads)
**/wwwroot/uploads/

# Archivos de proyecto y otros generados
*.suo
*.user